    /* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-family: 'Roboto', sans-serif;
}
    /* start footer */
.back-color-top {
    background-color: #0084fd;
    color: white;
}

.container-top {
    max-width: 1200px;
    margin: 0 auto;
    height: 4rem;
    padding: 0 1rem;
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-top ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.container-top ul li {
    height: 100%;   
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.container-top ul li:hover {
    background-color: lightgreen;
}

.flex-container .btn {
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
}

.flex-container .btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.container-top .hamburger{
    font-size: 2rem;
}

    /* layout tablet */

@media screen and (max-width: 810px) {
    .flex-container ul li {
        display: none;
    }
    .btn {
        display: none;
    }
}

@media screen and (min-width: 811px) {
    .hamburger {
        display: none;
    }
}
