    /* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-family: 'Roboto', sans-serif;
}

.space {
    margin: 1.5rem 0;
}

    /* start header */

.back-color-top {
    background-color: #0084fd;
    color: white;
}

.container-top {
    max-width: 1200px;
    margin: 0 auto;
    height: 4rem;
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-top ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.container-top ul li {
    height: 100%;   
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.container-top ul li:hover {
    background-color: lightgreen;
}

.flex-container .btn {
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
}

.flex-container .btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.container-top .hamburger{
    font-size: 2rem;
}

    /* end header */

    /* ------------ */

    /* start main */

    /* sezione sfondo bianco - cards azzurre*/

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container-cards-top {
    display: flex;
}

.flex-img {
    width: 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: #b5ddff;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    flex: 1 1 63%;
}

.card-second {
    display: flex;
    flex-wrap: wrap;
    background-color: #b5ddff;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    justify-content: center;
    flex: 1 1 30%;
}

.card-second h1 {
    color: #0084fd;
    flex: 1 1 100%;
    text-align: center;
    padding: 1rem 0;
}

.card-second p {
    text-align: center;
    font-size: 1.2rem;
}

.card h1 {
    color: #0084fd;
    flex: 1 1 100%;
}

.card .paragraph {
    display: flex;
    align-items: flex-start;
    flex: 1 1 45%;
    font-size: 1.2rem;
    color: black;
    padding-left: .2rem;
}

.card .btn {
    background-color: #0084fd;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
    flex: 0 1 60%;
}

.card .btn:hover {
    cursor: pointer;
    background-color: blue;
}

.flex-image {
    display: flex;
    flex: 1 1 35%;
}

.icon-size {
    font-size: 7rem;
    color: #0084fd;
}

.flex-container-cards-down {
    display: flex;
}

.card-second .down-cards {
    flex: 1 1 30%;
}

    /* sezione sfondo viola - card bianca*/

.main-container-purple {
    margin-top: 5rem;
    padding: 2rem 0;
    margin-bottom: 4rem;
    background-color: #9792e4;
}

.main-container-purple .main-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.card-white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 50%;
    margin-top: 15rem;
    padding: 1rem;
    background-color: white;
    border-radius: 3rem;
}

.card-white h1 {
    flex: 1 1 100%;
    text-align: center;
}

.card-white p {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.main-container-purple .main-container .main-flex-image .flex-img{
    display: flex;
    width: 70%;
}

.main-container-purple .main-flex-image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100%;
}

.main-flex-image h1 {
    color: white;
    flex: 1 1 100%;
    
}

.main-flex-image p {
    color: white;
    width: 60%;
}

.card-white .icon-size{
    font-size: 1rem;
    color: black;
    background-color: #9792e4;
    padding: 1rem;
    border-radius: 2rem;
}

    /* sezione sfondo bianco - card viola */

.text-center {
    text-align: center;
}

.title-purple {
    color: #9792e4;
    font-size: 3rem;
    margin: 1.5rem 0;
}

.card-purple {
    display: flex;
    align-items: center;
    background-color: #9792e4;
    border-radius: 2rem;
    padding: 1.5rem;
}

.card-purple .main-flex-image {
    display: flex;
    flex: 1 1 20%;
    width: 100%;
    height: auto;
}

.card-purple .main-flex-image .flex-img {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.card-purple .text-color-white {
    font-size: 1.1rem;
    color: white;
    flex: 1 1 80%;
    padding-left: .5rem;
}

    /* sfondo viola con 6 cards biache */

.main-container-flex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.second-cards-white {
    background-color: white;
    border-radius: 2rem;
    padding: 1rem;
    flex: 1 1 30%;
}

.second-cards-white h2 {
    color: #9792e4;
}

.number-size {
    color: #9792e4;
    font-size: 5rem;
}

.second-cards-white .btn {
    margin-top: 1rem;
    background-color: #9792e4;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .6rem;
    border: 0;
    border-radius: 2rem;
    width: 40%;
}

.second-cards-white .btn:hover {
    background-color: purple;
    cursor: pointer;
}

    /* sezione testo about */

.main-container-about {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.main-container-about .title-purple {
    flex: 1 1 100%;
}

.middle-text {
    font-size: 1.4rem;
    flex: 1 1 80%;
    padding-right: 6rem;
}

.main-container-about .main-flex-image-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 20%;
}

.main-flex-image-about {
    position: relative;
}

.main-container-about .main-flex-image-about .flex-img {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.main-container-about .main-flex-image-about .icon-size {
    font-size: 5rem;
    color: #9792e4;
    position: absolute;
    top: 0rem;
    right: -1rem;
    z-index: 1;
}

.main-flex-image-about .purple-size {
    color: #9792e4;
    font-size: 2rem;
}

.main-flex-image-about .btn {
    background-color: #9792e4;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
}

    /* parte viola prima del footer */

.main-container-purple-second {
    margin-top: 5rem;
    padding: 2rem 0;
    background-color: #9792e4;
}

.main-container-final {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.main-container-final h1 {
    font-size: 3rem;
}

.size-gold{
    font-size: 6rem;
    color: #fdc15f;
}

.small-text {
    font-size: 1.1rem;
    width: 82%;
    margin: 0 auto;
}

.main-container-final .btn{
    text-decoration: none;
    background-color: white;
    color: #9792e4;
    padding: 1.5rem;
    border: none;
    border-radius: 3rem;
    margin: 1rem 0;
    width: 40%;
}

    /* footer */

.footer-container-black {
    background-color: black;
    color: white;
    padding: 2rem 0;
}

.footer-container-black .main-container {
    max-width: 400px;
    margin: 0 auto;
}

    /* layout header tablet and smartphone */

@media screen and (max-width: 830px) {
    .container-top {
        padding: 0 1.5rem;
    }
    .flex-container ul li {
        display: none;
    }
    .flex-container ul .btn {
        display: none;
    }
}

    /* layout desktop */
    
@media screen and (min-width: 831px) {
    .hamburger {
        display: none;
    }
}

    /* layout main smartphone */

@media screen and (min-width: 320px) and (max-width: 720px) {
    .main-container {
        padding-left: 1rem;
    }

    .flex-container-cards-top {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* margin-right: 1rem; */
        border-radius: 1.5rem;
        padding: 1rem;
        justify-content: center;
        flex: 1 1 30%;
        flex-direction: column;
    }

    .card .paragraph {
        align-items: center;
    }

    .card .paragraph .btn {
        margin-top: .5rem;
        width: 60%;
    }

    .flex-image {
        align-items: center;
    }

    .flex-container-cards-down {
        flex-direction: column;
    }

    .main-container-purple .main-container {
        flex-direction: column;
    }

    .main-flex-image h1 {
        text-align: center
    }

    .main-container-purple .main-flex-image {
        justify-content: center;
    }

    .main-flex-image p {
        width: 90%;
    }
    
    .card-white {
        margin-top: 3rem;
    }

    .card-purple {
        flex-direction: column;
    }

    .card-purple .main-flex-image {
        justify-content: center;
    }

    .card-purple .text-color-white {
        text-align: center;
    }

    .main-container-purple .main-container {
        padding: 1rem;
    }

    .second-cards-white {
        flex: 1 1 61%;
    }

    .main-container {
        padding: 1rem;
    }

    .main-container-purple {
        margin-top: 5rem;
        padding: 2rem;
        margin-bottom: 4rem;
        background-color: #9792e4;
    }

    .main-container-about .title-purple {
        padding: 0 1rem;
    }

    .middle-text {
        /* padding-right: 0rem; */
        padding: 0 1rem;
    }

    .main-container-about .main-flex-image-about {
        padding: 0 1rem;
    }

    .main-flex-image-about .btn {
        width: 70%;
    }

    .main-container-about .main-flex-image-about .icon-size {
        right: 10rem;
    }

}

     /* layout main tablet */

@media screen and (min-width: 721px) and (max-width: 830px) {
    .main-container {
        padding-left: 1rem;
    }

    .card .paragraph {
        flex: 1 1 100%;
    }

    .flex-image {
        width: 50%;
    }

    .card .btn {
        flex: 0 1 45%;
        margin-top: 1rem;
    }

    .main-container-purple .main-container{
        flex-direction: column;
        justify-content: center;
    }

    .main-container-purple .main-flex-image {
        justify-content: center
    }

    .main-flex-image h1 {
        text-align: center;
        margin: .5rem 0;
    }

    .main-flex-image p {
        width: 90%;
    }

    .card-white {
        margin-top: 3rem;
    }

    .card-white p {
        text-align: center;
    }

    .main-container-purple {
        padding: 2rem 1rem;
    }

    .second-cards-white {
        flex: 1 1 40%;
    }

    .main-container-about .main-flex-image-about .icon-size {
        top: 3rem;
        right: 4rem;
    }
    
    .middle-text {
        flex: 1 1 50%;
        padding-right: 4rem;
        padding-left: .5rem;
    }

    .main-flex-image-about .btn {
        width: 80%;
    }
}