    /* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-family: 'Roboto', sans-serif;
}
    /* start footer */
.back-color-top {
    background-color: #0084fd;
    color: white;
}

.container-top {
    max-width: 1200px;
    margin: 0 auto;
    height: 4rem;
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-top ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.container-top ul li {
    height: 100%;   
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.container-top ul li:hover {
    background-color: lightgreen;
}

.flex-container .btn {
    background-color: white;
    color: black;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
}

.flex-container .btn:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.container-top .hamburger{
    font-size: 2rem;
}

    /* end footer */

    /* ------------ */

    /* start main */

    /* sezione sfondo bianco */

.main-container-white {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container-cards-top {
    display: flex;
}

.flex-img {
    width: 100%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: #b5ddff;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    flex: 1 1 63%;
}

.card-second {
    display: flex;
    flex-wrap: wrap;
    background-color: #b5ddff;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    justify-content: center;
    flex: 1 1 30%;
}

.card-second h1 {
    color: #0084fd;
    flex: 1 1 100%;
    text-align: center;
    padding: 1rem 0;
}

.card-second p {
    text-align: center;
    font-size: 1.2rem;
}

.card h1 {
    color: #0084fd;
    flex: 1 1 100%;
}

.card .paragraph {
    display: flex;
    align-items: flex-start;
    flex: 1 1 45%;
    font-size: 1.2rem;
    color: black;
    padding-left: .2rem;
}

.card .btn {
    background-color: #0084fd;
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
    flex: 0 1 60%;
}

.card .btn:hover {
    cursor: pointer;
    background-color: blue;
}

.flex-image {
    display: flex;
    flex: 1 1 35%;
}

.icon-size {
    font-size: 7rem;
    color: #0084fd;
}

.flex-container-cards-down {
    display: flex;
}

.card-second .down-cards {
    flex: 1 1 30%;
}

    /* sezione sfondo viola */

.main-container-purple {
    
}

    /* layout header tablet and smartphone */

@media screen and (max-width: 840px) {
    .container-top {
        padding: 0 1.5rem;
    }
    .flex-container ul li {
        display: none;
    }
    .flex-container ul .btn {
        display: none;
    }
}

    /* layout desktop */
    
@media screen and (min-width: 830px) {
    .hamburger {
        display: none;
    }
}

    /* layout main smartphone */

@media screen and (min-width: 320px) and (max-width: 720px) {
    .main-container-white {
        padding-left: 1rem;
    }

    .flex-container-cards-top {
        flex-direction: column;
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card .paragraph {
        align-items: center;
    }

    .card .paragraph .btn {
        margin-top: .5rem;
        width: 60%;
    }

    .flex-image {
        align-items: center;
    }

    .flex-container-cards-down {
        flex-direction: column;
    }
}

     /* layout main tablet */

@media screen and (min-width: 721px) and (max-width: 830px) {
    .main-container-white {
        padding-left: 1rem;
    }

    .card .paragraph {
        flex: 1 1 100%;
    }

    .flex-image {
        width: 50%;
    }

    .card .btn {
        flex: 0 1 45%;
        margin-top: 1rem;
    }
}
